<%- include('partials/backend/head') %>

  
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Panel de Control

                </h1>
                <ol class="breadcrumb">
                    <li><a><i class="fa fa-dashboard"></i> Inicio</a></li>
                    <li class="active">Panel de Control</li>
                </ol>
            </section>
            <!-- Main content -->
            <br />
<div class="box box-info col-md-2">
    <h2>Inicio</h2>
    <div class="box-body">
        <p>Bienvenido al panel de control. Aquí podrán registrarse los productos disponibles que se mostaran al publico en el sitio web. Elija una de las categorías del lado izquierdo para editar su contenido.</p>
    </div>
</div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <%- include('partials/backend/footer') %>